<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj notkę</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='adding_notes.css')}}">
</head>
<body>
<p class="tytuł"> Stwórz notkę! </p>
<div class="form">
    <form action="" method="post">
        <div class="otoczenie_otoczenia">
            <div class="otoczenie">
                {{form.subject.label}}
                {{ form.subject(class="przedmiot") }}
                {%for i in form.subject.errors %}
                <p>{{i}}</p>
                {%endfor%}

                <div class="przerwa"></div>


                {{form.grade.label}}
                {{ form.grade(class="klasa") }}
                {%for i in form.grade.errors%}
                <p>{{i}}</p>
                {%endfor%}

                <div class="przerwa"></div>


                {{form.school_type.label}}
                {{ form.school_type(class="rodzaj_szkoły") }}
                {%for i in form.school_type.errors%}
                <p>{{i}}</p>
                {%endfor%}


                <div class="przerwa"></div>

                <!-- TO BE REPLACED with a markdown editor of some sort -->
                {{form.chapter.label}}
                {{ form.chapter(class="temat") }}
                {%for i in form.chapter.errors%}
                <p>{{i}}</p>
                {%endfor%}

                <div class="przerwa2"></div>

                <input type="submit" value="wyślij">
            </div>
        </div>
</div>
</form>
</body>
</html>