<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='css/edit.css')}}">
    <script src="{{url_for('.static', filename='js/markdown_editor.js')}}"></script>
</head>
<body>
    <div class="markdown-editor">
        <div class="markdown-input">
            <form action="" method="post">
                <textarea id="markdown-input" placeholder="Tu wpisz swoją notatkę"></textarea>
                <button onclick="testfunc({{ id }})">TEST</button>
            </form>
        </div>
        <div class="markdown-preview">
            <div id="markdown-preview"></div>
        </div>
    </div>
</body>
</html>