<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p style="text-align: center;">
        Twoje notatki.
    </p>
    {% if filtered %}
    <p>
        Wyniki filtrowane. <a href="/notes/my_notes">Wróć do wyników niefiltrowanych.</a>
    </p>
    {% endif %}
    <ul>
        <form action="/notes/my_notes" method="GET">
            <label for="text_input">Wyszukaj:</label>
            <input type="text" id="text_input" name="user_text" placeholder="Type your text here">
            <input type="submit" value="Submit">
        </form>
        {% if content|length == 0 %}
        <p>Brak wyników.</p>
        {% endif %}
        {% for i in content %}
            <li> <!-- delete button nonfunctional -->
                <h3>{{ i[5] }}{% if own %} <a href="/notes/my_notes?delete={{ i[0] }}">[DELETE]</a>{% endif %}</h3>
                <p>Klasa <a href="/notes/my_notes?class={{ i[3] }}">{{ i[3] }}</a>,
                    Szkoła <a href="/notes/my_notes?school={{ i[4] }}">{{ i[4] }}</a>,
                    Przedmiot <a href="/notes/my_notes?subject={{ i[2] }}">{{ i[2] }}</a>
                <p>{{ i[6] }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>