<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('.static', filename='render.js')}}"></script>
    <style>
        #fiszka{
            width: 500px;
            height: 500px;
            border: 2px black solid;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body onload="main()">
    <h1>Fiszki</h1>
    <div id="fiszka" onclick="flip()"></div>
    <button id="lewo" onclick="lewo()">&#60;</button>
    <button id="prawo" onclick="prawo()">&#62;</button>
</body>
</html>