<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('.static', filename='render.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('.static', filename='generowanie.css')}}">
</head>
<body onload="main()">
    <h1>Fiszki</h1>
    <div class="form">
    <div class="fiszka_form" onclick="flip()">
        <div id="fiszka"></div>
    </div>
    <br>
    <button id="lewo" onclick="lewo()">&#60;</button>
    <button id="prawo" onclick="prawo()">&#62;</button>
    </div>
</body>
</html>