<!DOCTYPE html>
<html lang="pl">
<script src="{{url_for('.static', filename='panel.js')}}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NauNotki</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='panel.css') }}">
    <style>        
    @import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Lato&display=swap');
    </style>
</head>
<body>
    <div class="gorne">
        <p class="logo">NauNotki</p>
    </div>

<div class="prostokat">
    <h1>{{username}}</h1>
    <form action="" method="post">
        {{form.oldpassword.label}}
        {{ form.oldpassword() }}
        {%for i in form.oldpassword.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>

        {{form.newpassword.label}}
        {{ form.newpassword() }}
        {%for i in form.newpassword.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>

        {{form.confirm.label}}
        {{ form.confirm() }}
        {%for i in form.confirm.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>
        <input type="submit" value="wyślij">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
    <div>
        <div>   <!--Moja szczera reakcja na to że mamy dwa różne typy form w jednym pliku-->
            Email: {{ email }} <button onclick="scr1()">Change email</button><br>
            Account type: {{ account_type }} <button onclick="scr2('{{ account_type }}')">Change type</button><br>
            My notes: <a href="notes/my_notes">check</a><br>
        </div>
        <div>
            {% if pfp_exists %}
            <p><img src="/pfp/{{ pfp }}" id="pfp" height="128" onclick="scr4()"></p>
            {% else %}
            <p><button onclick="scr3()">Generate a profile picture</button></p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>