<!DOCTYPE html>
<html lang="pl">
<script type="text/javascript">
    function scr1(){
        let userInput = prompt("New email");
        if (userInput !== null) {
            const url = '/change_email';
            const data = new URLSearchParams();
            data.append('email', userInput);
            const requestOptions = {
              method: 'POST',
              body: data,
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
            };
            fetch(url, requestOptions);
        } else {
          alert("You did not enter anything.");
        }
        setTimeout(function() {
            location.reload();
        }, 1100);
    }
    function scr2(){
        const url = '/change_type';
        const data = new URLSearchParams();
        data.append('curtype', '{{ account_type }}');
        const requestOptions = {
          method: 'POST',
          body: data,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        fetch(url, requestOptions);
        setTimeout(function() {
            location.reload();
        }, 700);
    }
    function scr3(){
        const url = '/generate_pfp';
        const data = new URLSearchParams();
        const requestOptions = {
          method: 'POST',
          body: data,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        fetch(url, requestOptions);
        setTimeout(function() {
            location.reload();
        }, 1300);
    }
    document.getElementById('pfp').onclick = function() {
        scr3();
    };
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .przerwa {
            padding: 5px;
        }
        p{
            margin: 2px;
            color: red;
        }
        .login-bar { /* temporary solution to keep it not looking like absolute shit */
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
    </style>
</head>
<body>
    <h1>{{username}}</h1>
    <form action="" method="post">
        {{form.oldpassword.label}}
        {{ form.oldpassword() }}
        {%for i in form.oldpassword.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>

        {{form.newpassword.label}}
        {{ form.newpassword() }}
        {%for i in form.newpassword.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>

        {{form.confirm.label}}
        {{ form.confirm() }}
        {%for i in form.confirm.errors%}
        <p>{{i}}</p>
        {%endfor%}

        <div class="przerwa"></div>
        <input type="submit" value="wyślij">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
    <div class="login-bar">
        <div style="text-align: left;">
            Email: {{ email }} <button onclick="scr1()">Change email</button><br>
            Account type: {{ account_type }} <button onclick="scr2()">Change type</button><br>
            My notes: <a href="notes/my_notes">check</a><br>
        </div>
        <div style="text-align: right;">
            {% if pfp_exists %}
            <p><img src="/pfp/{{ pfp }}" id="pfp" height="128" onclick="scr3()"></p>
            {% else %}
            <p><button onclick="scr3()">Generate a profile picture</button></p>
            {% endif %}
        </div>
    </div>
</body>
</html>