<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .przerwa {
            padding: 5px;
        }
        p{
            margin: 2px;
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="post">
    {{form.username.label}}
    {{ form.username() }}
    {%for i in form.username.errors%}
    <p>{{i}}</p>
    {%endfor%}

    <div class="przerwa"></div>


    {{form.password.label}}
    {{ form.password() }}
    {%for i in form.password.errors%}
    <p>{{i}}</p>
    {%endfor%}

    <div class="przerwa"></div>
    <input type="submit" value="wyślij">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </form>
</body>
</html>