<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='logowanie.css') }}">
</head>
<body>
    <div class = "biały">

        <svg class = "oczek" width="347" height="437" viewBox="0 0 347 437" fill="none">
            <path d="M99.4314 0H346.921L245.312 127.368H0L99.4314 0Z" fill="#232A38" fill-opacity="0.9"/>
            <path d="M214.83 289.141H224.08V428.222H260.369V437.006H224.08H214.829L214.83 289.141Z" fill="#1E232F" fill-opacity="0.8"/>
            <path d="M162.033 289.141H171.283V428.222H207.572V437.006H171.283H162.033L162.033 289.141Z" fill="#1E232F"/>
            <path d="M311.173 214.477H301.923L327.539 362.341H338.212L311.173 214.477Z" fill="#1E232F" fill-opacity="0.8"/>
            <ellipse cx="203.217" cy="186.66" rx="120.479" ry="121.512" fill="#E8F9F8"/>
            <ellipse cx="232.249" cy="180.804" rx="78.3838" ry="81.9843" fill="#7793DB"/>
            <ellipse cx="244.586" cy="172.752" rx="57.3363" ry="59.2922" fill="#1E232F"/>
            <ellipse cx="198.138" cy="143.473" rx="23.9506" ry="24.1561" fill="white"/>
            <path d="M141.526 24.8882H269.262L290.31 102.48L279.423 92.9644H224.99H166.928L121.204 133.957L96.5276 156.649L83.4636 173.119L73.3027 114.193L141.526 24.8882Z" fill="#232A38"/>
            <path d="M95.2619 214.477H104.512L78.8963 362.341H68.2231L95.2619 214.477Z" fill="#1E232F"/>
        </svg>

        <div class = "tło">
            <div class= "ciemnyniebieski">
                <div class="niebieski">
            <div class="loguj">Logowanie</div>
            
            <form action="" method="post">
            {{form.username.label}}
            {{ form.username() }}
            {%for i in form.username.errors%}
            <p>{{i}}</p>
            {%endfor%}


            {{form.password.label}}
            {{ form.password() }}
            {%for i in form.password.errors%}
            <p>{{i}}</p>
            {%endfor%}

            <input type="submit" value="Zaloguj" class="zaloguj">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            </form>
        </div>
        </div>
    </div>
</div>
</body>
</html>