body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    background-color: #1E232F;
    height: 100%;
    overflow-y: hidden;
}
.bialy {
    width: 60%;
    height: 100%;
    background: #FFFFFF;
    position:absolute;
}
.tlo {
    width: 50%;
    height: 80%;
    border: 10px solid #1E232F;
    background: #FFF;
    top:8%;
    left:80%;
    position:absolute;
}
.ciemnyniebieski {
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    border-radius: 34px;
    position:relative;
    background: #3F4A89;
}
.niebieski {
    background: #505FAF;
    width: 85%;
    height: 90%;
    border-radius: 34px;
    top: 5%;
    left: 7.5%;
    position:relative;

}
.loguj {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    top:2%;
    position:relative;
}
label[type="text" i]{
    color:#9899A6;
    top:10%;
}
input[type="text" i] {
    position:absolute;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    height: 6%;
    font-size: 32px;
    left: 10%;
    top: 15%;
    border: 0px solid #000000; 
}
input[type="email" i] {
    position:absolute;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    height: 6%;
    font-size: 32px;
    left: 10%;
    top: 25%;
    border: 0px solid #000000; 
}
input[id="password" i] {
    position:absolute;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    height: 6%;
    font-size: 32px;
    left: 10%;
    top: 35%;
    border: 0px solid #000000; 
}
input[id="confirm"i] {
    position:absolute;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    height: 6%;
    font-size: 32px;
    left: 10%;
    top: 45%;
    border: 0px solid #000000; 
}
input[type="submit" i] {
    position:absolute;
    background-color: #8E699B;
    width: 50%;
    height: 10%;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 15px;
    left: 25%;
    top: 80%;
    border: 0px solid #000000; 
}
.zaloguj {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
select[id="role"]{
    position:absolute;
    color: #000000;
    border-radius: 30px;
    width: 80%;
    height: 6%;
    font-size: 32px;
    left: 10%;
    top: 55%;
    border: 0px solid #000000; 
}
option{
    font-size:24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #767676;
}
::placeholder{
    font-size:24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-radius: 30px;
}
.okulary {
    position:absolute;
    top: 50%;
    left: 20%;
}
.ołówek{
    position:absolute;
    top: 31%;
    left: 13.75%;
}