body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1024px;
    background: #21252F;
    font-family: 'Lato', sans-serif;
    color: #C5B5DE;
}
.górne {
    position:absolute;
    width: 100%;
    height: 9.375%;
    flex-shrink: 0;
    background: #0A1221;
}
input[id="text_input" i] {
    position:absolute;
    height:30%;
    left: 85%;
    top: 120%;
    border-radius: 90px;
    font-size: 20px;
    background: #0A1221;
    border: 0px solid #000000; 
    color: #FFF;
    text-align: center;
}
::placeholder {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    vertical-align: center;
}
.linia {
    position:absolute;
    width: 100%;
    height: 6px;
    background: #0A1221;
    top: 170%;
}
.lista {
    display:inline-block;
}
.notka {
    background: linear-gradient(180deg, rgba(10, 18, 33, 0.70) 0%, rgba(21, 34, 58, 0.00) 100%);
    box-shadow: 0px 4px 38px 2px #0A1221 inset;
    width: 30%;
    height: 20%;
    position: relative;
}
a {
    overflow-wrap: break-word;
    hyphens: manual;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.16px;
}
.tekst_notatki{
    font-size: 24px;
}