body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #21252F;
    font-family: 'Lato', sans-serif;
    color: #C5B5DE;
}
a{
    color: #C1B2D9
}
.górne {
    top:0;
    position:relative;
    width: 100%;
    height: 100%;
    background: #0A1221;
    margin-top: -2%;
}
.strona{
    font-size: 250%;
    text-align: center;
    max-height:20%;
    padding: 1.6%;
    margin-bottom: 1%;
}
.wyszukaj {
    position:relative;
    height:10%;
    padding:1%;
    left: 85%;
    border-radius: 90px;
    font-size: 20px;
    background: #0A1221;
    border: 0px solid #000000; 
    color: #FFF;
    text-align: center;
}
::placeholder {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.linia {
    position:relative;
    width: 100%;
    height: 6px;
    background: #0A1221;
    top: 20%;
}
.lista {
    list-style-type: none;
    margin: 5%;
    margin-left: 3%;
}
.notka {
    background: linear-gradient(180deg, rgba(10, 18, 33, 0.70) 0%, rgba(21, 34, 58, 0.00) 100%);
    box-shadow: 0px 4px 38px 2px #0A1221 inset;
    width: 80%;
    height: 40%;
    top: 20%;
    left: 10%;
    margin-top: 5%;
    position: relative;
    text-align: justify;
    padding: 0.5%;
    border-radius:30px;
}
.tagi_notatki {
    font-size: 24px;
    text-align: center;
    margin-top: 0%;
    margin-left: 2.5%;
}
.tekst_notatki {
    font-size: 20px;
    text-align: center;
    margin-top: 0%;
    margin: 2.5%;
    margin-bottom: 5%;
    padding-left:10%;
    padding-right:10%;
}
.tytul {
    font-size: 40px;
    text-align: center;
    position: relative;
}
.smietnik {
    text-align:right;
    left: 97%;
    width: 30px;
    height: 30px;
    bottom: 100%;
    position:absolute;
    display:flex;
    z-index:10;
}
.klik {
    width:100%;
    height:100%;
    border-radius:30px;
    position:absolute;
    right:0;
    top:0;
}