<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NauNotki</title>
    <link rel="stylesheet" href="{{url_for('main.static', filename='css/error_handler.css')}}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="error-handler">
        <div style="text-align: left;">
            <img src="https://play.pokemonshowdown.com/sprites/ani{% if error == 418 %}-shiny{% endif %}/spoink.gif" width="45%">
        </div>
        <div>&nbsp;</div> <!-- placeholder -->
        <div style="text-align: right;">
            <p class="heading">Error {{ error }}</p><br>
            <p class="nonheading">An error has occurred:<br> {{ content }}</p><br>
            <div class="a-wrapper"><a href="/">Return to main page.</a></div>
        </div>
    </div>
</body>
</html>