<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NauNotki</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Lato&display=swap');
    </style>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('main.static', filename='css/style_main.css')}}">
</head>
<body>
    <div class="strona-gwna-fr">
        <div class="div">
            <a href="/register">
                <div class="rejestracja">
                    <div class="rejestracja-button">
                        <div class="text-wrapper">Rejestracja</div>
                    </div>
                </div>
            </a>
        </div>
            <a href="/login">
                <div class="logowanie">
                    <div class="logowanie-alt">
                        <div class="text-wrapper-6">Logowanie</div>
                    </div>
                </div>
            </a>
            <img class="oczko" src="{{url_for('.static', filename='img/Oczko2.png')}}" />
            <div class="Naunotki">NauNotki</div>
            <div class="motto">
                <div class="pierw_wers">
                    <div class="group">
                        <div class="Nauka">Nauka z</div>
                        <div class="Notek">notek</div>
                    </div>
                    <div class="drugi_wers">
                        <div class="Notki">Notki dla</div>
                        <div class="Nauki">nauki</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>