<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<style> /* temporary solution to keep it not looking like absolute shit */
    .login-bar {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
</style>
<body>
    <div class="login-bar">
        <div style="text-align: left;">
            {% if username == "" %}
                Not logged in.
            {% else %}
                Logged in as <a href="#">{{ username }}</a>. <!-- placeholder for user-page link -->
            {% endif %}
        </div>
        <div style="text-align: center;">
            NauNotki
        </div>
        <div style="text-align: right;">
            {% if username == "" %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% else %}
                <a href="/notes/my_notes">My notes</a>
                <a href="/notes/add">Add new notes</a>
                <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</body>
</html>