<!DOCTYPE html>
<script type="text/javascript">
    function scr1(){
        let userInput = prompt("New email");
        if (userInput !== null) {
            const url = '/change_email';
            const data = new URLSearchParams();
            data.append('email', userInput);
            const requestOptions = {
              method: 'POST',
              body: data,
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
            };
            fetch(url, requestOptions);
        } else {
          alert("You did not enter anything.");
        }
        setTimeout(function() {
            location.reload();
        }, 1100);
    }
    function scr2(){
        const url = '/change_type';
        const data = new URLSearchParams();
        data.append('curtype', '{{ account_type }}');
        const requestOptions = {
          method: 'POST',
          body: data,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        };
        fetch(url, requestOptions);
        setTimeout(function() {
            location.reload();
        }, 700);
    }
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style> /* temporary solution to keep it not looking like absolute shit */
    .login-bar {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
</style>
<body>
    <div class="login-bar">
        <div class="first">
            <p>PFP COMING SOON</p>
        </div>
        <div style="text-align: right;">
            Username: {{ username }}<br>
            Email: {{ email }} <button onclick="scr1()">Change email</button><br>
            Account type: {{ account_type }} <button onclick="scr2()">Change type</button><br>
            My notes: <a href="notes/my_notes">check</a><br>
        </div>
    </div>
</body>
</html>